<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([\w-]+)/?$ index.php?game=$1 [QSA,L]
RewriteRule ^([\w-]+)/([\w-]+)/?$ index.php?game=$1&move=$2 [QSA,L]
